.map {
	margin-left: calc(50% - 250px);
}

.list {
	text-align: center;
	font-size: 30px;
}

.postList {
	margin-left: calc(50% - 250px);
	width: 500px;
	font-size: 30px;
}

.postList > table {
	border: 1px solid white;
	text-align: left;
}

.postList > td {
	border: 1px solid white;
}

table {
	width: 500px;
	margin-left: calc(50% - 250px);
	text-align: center;
	color: #FFF;
}

.settings {
	background-color: #5c87b2;
	border: 0px;
	color: #FFF;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	height: 50px;
}

.settings:hover {
	background-color: #729cc7;
}

.logout {
	background-color: #5c87b2;
	border: 0px;
	color: #FFF;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	height: 50px;
}

.logout:hover {
	background-color: #729cc7;
}

.back {
	background-color: #729cc7;
	border: 0px;
	color: #FFF;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	height: 50px;
}

.back:hover {
	background-color: #729cc7;
}

/*<<<<<<< HEAD*/
.textarea{
    background-color: transparent;
    border: 0px;
    color: #838384; /*Grey*/
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    /*height: 50px;*/
    /*padding-left: 50px;*/
    text-align: center;
    justify-content: center;
}

.subButton{
    background-color: #add8e6;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    margin: 0.25em 35.8em 0;  /* change this absolute margin*/
    text-align: center;
    overflow: visible;
    font-size: 18px;
    font-family: sans-serif;
    font-style: normal;
    /*padding: 0.25em 0.7em;*/
    text-decoration: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/*=======*/
.addedit {
	color: #FFF;
	font-size: 30px;	
}

.addedit.list {
	background-color: #5c87b2;
	text-align: center;
	font-size: 30px;
}

.addedit > table {
	border-collapse: collapse;
	background-color: #838384;
	border: 1px solid white;
	padding: 3px;
	border-spacing: 3px;
	margin-bottom: 0px;
	border-style: solid;
}
/*>>>>>>> 3c1794c5100b1ff0d8a6dd3af3fe60d6fbbb55dd*/
