.map {
	width: 100%;
	height: 400px;
}

.list {
	text-align: center;
	font-size: 30px;
}

.postList {
	width: 100%;
	font-size: 30px;
}

.postList > table {
	border: none;
    outline: none;
	text-align: left;
}

.postList > td {
	border: none;
    outline: none;
}
.postList > tr {
    border: 1px solid #ffffff;
}

.postImg{
    background-image: url(/cocorahs/assets/site/PostSegment.svg);
    background-size: auto auto;
    background-repeat: no-repeat;
    color: #ffffff;
    /*width: auto;*/
    /*height: 400%;*/
}

.newPostImg{
    background-image: url(/cocorahs/assets/site/AddSegment.svg);
    background-size: auto auto;
    background-repeat: no-repeat;
}

.helpImg{
    background-image: url(/cocorahs/assets/site/HelpButton.svg);
    background-size: auto auto;
    background-repeat: no-repeat;
}

table {
	width: 100%;
	text-align: center;
	color: #FFF;
}

.settings {
	background-color: #5c87b2;
	border: 0px;
	color: #FFF;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	height: 50px;
}

.settings:hover {
	background-color: #729cc7;
}

.logout {
	background-color: #5c87b2;
	border: 0px;
	color: #FFF;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	height: 50px;
}

.logout:hover {
	background-color: #729cc7;
}

.back {
	background-color: #729cc7;
	border: 0px;
	color: #FFF;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0px;
	height: 50px;
}

.back:hover {
	background-color: #729cc7;
}

.textArea{
    background-color: transparent;
    border: 0px;
    color: #838384; /*Grey*/
    font-size: 18px;
    font-family: sans-serif;
    font-style: italic;
    height: 50%;
    padding-left: 0%;
    padding-top: 5px;
    text-align: center;
    justify-content: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.photoLink{
    margin-left: calc(50%-80px);
    /*width: 300px;*/
    text-align: center;
    /*color: #ffffff;*/
    font-size: 25px;
    border: none;
    outline: none;
    border-collapse: collapse;

}

.subButton{
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /*margin: 0.25em 35.4em 0;  *//* change this absolute margin*/
    text-align: center;
    overflow: visible;
    font-size: 18px;
    font-family: sans-serif;
    font-style: normal;
    padding-left: 0%;
    padding-top: 5px;
    margin-left: calc(50% - 115px);
    /*padding: 0.25em 0.7em;*/
    text-decoration: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.select{
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

.fileUpload{
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display:inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}





.addedit {
	color: #FFF;
	font-size: 30px;	
}

.addedit.list {
	background-color: #5c87b2;
	text-align: center;
	font-size: 30px;
}

.addedit > table {
	border-collapse: collapse;
	background-color: #838384;
	border: 1px solid white;
	padding: 3px;
	border-spacing: 3px;
	margin-bottom: 0px;
	border-style: solid;
}

.addedit > th,td {
	color: #FFF;
	text-size: 30px;
}

.addedit > td:last-child {
	width: 10%;
}

.helpheader {
	background-color: #5c87b2;
	text-align: center;
	font-size: 48px;
}

.helpbody {
	background-color: #000;
	color: #FFF;
	font-size: 16px;
}

.helpbody > table {
	width: 100%;
	padding: 5px;
	margin-bottom: 0px;
	text-align: left;
}
